{
  "extends": ["airbnb", "react-app"],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "no-console": ["error", { "allow": ["log", "warn", "error"] }],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "linebreak-style": "off",
    "no-shadow": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
