{
  "extends": ["airbnb", "react-app"],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "no-console": ["error", { "allow": ["log", "warn", "error"] }],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
